li{
    list-style-type: none;
    text-align: center;
    overflow-wrap: anywhere;
}

.container-sm{
    margin-top: 10px;
    max-width: 600px;
}

.checked{    
    text-decoration: line-through;
}

.d-flex{
    margin-top: 5px;
}
